/* TODO Add site wide styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#about-links-footer {
    margin-right: auto;
    margin-left: auto;
    color: gray;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}

#about-links-footer>a {
    color: gray;
}

.ReactModal__Overlay {
    z-index: 3;
}
