.cart-container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: inherit;
}

.cart-items-container {
  width: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-header {
  font-weight: 500;
  margin-bottom: 20px;
}

.cart-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  width: 75%;
}

.cart-item-text-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.cart-item {
  display: flex;
  gap: 10px;
}

.cart-sidebox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-item-img-container {
  width: 20%;
  aspect-ratio: 1/1;
  cursor: pointer;
  display: flex;
}

.cart-item-img {
  width: 100%;
  display: flex;
  border-radius: 5px;
  border: 1px solid white;
}

.cart-sidebox-emptyShoppingCart-button {
  color: white;
  background-color: black;
  font-size: 16px;
  border: 1px solid lightgray;
  padding: 5px 10px;
  border-radius: 25px;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  box-shadow: 0px 1px 2px lightgray;
}

.cart-sidebox-checkout-button {
  color: white;
  background-color: black;
  font-size: 16px;
  border: 1px solid lightgray;
  padding: 5px 10px;
  border-radius: 25px;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  box-shadow: 0px 1px 2px lightgray;
}

.cart-remove-item-button {
  color: black;
  background-color: white;
  font-size: 16px;
  border: 1px solid lightgray;
  padding: 5px 10px;
  border-radius: 25px;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  box-shadow: 0px 1px 2px lightgray;
}
