.cart-container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: inherit;
}

.cart-items-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.cart-header {
  font-weight: 500;
  margin-bottom: 20px;
}

.cart-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 75px;
  width: 100%;
}

.cart-item-text-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  font-size: 25px;
  background-color: rgb(245, 245, 241);
  word-wrap: break-word;
}

.cart-item {
  display: flex;
  gap: 10px;
}

.cart-sidebox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-item-img-container {
  width: 15%;
  aspect-ratio: 1/1;
  cursor: pointer;
  display: flex;
}

.cart-item-img {
  width: 100%;
  display: flex;
  border-radius: 5px;
  border: 1px solid white;
}

.cart-sidebox-container {
  font-size: 1.5rem;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.cart-sidebox-emptyShoppingCart-button {
  color: white;
  background-color: black;
  font-size: 25px;
  border: 1px solid lightgray;
  padding: 10px 15px;
  border-radius: 25px;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  box-shadow: 0px 1px 2px lightgray;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.cart-sidebox-checkout-button {
  color: white;
  background-color: black;
  font-size: 25px;
  border: 1px solid lightgray;
  padding: 10px 15px;
  border-radius: 25px;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  box-shadow: 0px 1px 2px lightgray;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.cart-remove-item-button {
  color: black;
  background-color: white;
  font-size: 20px;
  border: 1px solid lightgray;
  padding: 10px 15px;
  border-radius: 25px;
  text-decoration: none;
  font-family: inherit;
  text-align: center;
  box-shadow: 0px 1px 2px lightgray;
  cursor: pointer;
  margin: 10px;
}
.cart-form-input {
  border: 1px solid gray;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 20%;
  padding: 0 10px;
}

.cart-border-container {
  border: lightgray 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 3px lightgray;
}

.cart-item-name {
  font-size: 1.5rem;
  font-weight: 500;
  inline-size: 100%;
  overflow-wrap: ;
}

.cart-item-price {
  font-size: 1.25rem;
  font-weight: 300;
}
